.label {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.reply-label {
    -fx-background-color: #e3f2fd;
    -fx-border-radius: 12px;
    -fx-text-fill: #000000;
}

.add-label {
    -fx-background-color: #FFF3CD;
}

.marked-label {
    -fx-background-color: #D4EDDA;
}

.delete-label {
    -fx-background-color: #F8D7DA;
}

/* Profile Picture */
#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 3, 3);
    -fx-border-radius: 50%;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}
